.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8823529411764706);
  justify-content: center;
  /* overflow: hidden; */
  z-index: 4;
}
.backdrop {
  display: flex;
  align-items: center;
}
