/* body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  max-width: 1440px;
  min-height: 50px;
  background: lightcyan;
}
footer {
  min-height: 50px;
  background: PapayaWhip;
} */
.App {
  min-height: 100%;
  /* margin-bottom: -80px; */
}
@media screen and (max-width: 500px) {
  .App {
    /* margin-bottom: -150px; */
  }
}
#root {
  height: 100vh;
  margin: 0;
}
